<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

     <!-- Navigation Section -->
     <div class="navigation">
        <ul>
            <li><a href="/categories">View All Categories</a></li>
            <li><a href="/items">View All Items</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="#" onclick="toggleForm('categoryForm')">Add Category</a></li>
            <li><a href="#" onclick="toggleForm('itemForm')">Add Item</a></li>
        </ul>
    </div>

    <h1>Categories</h1>
    <ul>
        <% categories.forEach(category => { %>
            <li>
                <a href="/categories/<%= category.id %>"><%= category.name %></a>
                <% if (category.photo_url) { %>
                    <img src="<%= category.photo_url %>" alt="Category Photo" style="max-width: 100px;">
                <% } %>
                - <%= category.description %>
                <form action="/categories/<%= category.id %>/delete" method="get" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                <a href="/categories/<%= category.id %>/edit">Edit</a>
            </li>
        <% }); %>
    </ul>
    <a href="/categories/new">Add New Category</a>
    <a href="/">Back to Home</a>
</body>
</html>
