<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= item.name %> Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div class="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/items">Items</a></li>
        </ul>
    </div>

    <div class="item-details-container">
        <h1 class="item-title"><%= item.name %></h1>
        <div class="item-info">
            <p><strong>Name:</strong> <%= item.name %></p>
            <p><strong>Description:</strong> <%= item.description %></p>
            <p><strong>Quantity:</strong> <%= item.quantity %></p>
            <p><strong>Price:</strong> $<%= item.price %></p>
            <p><strong>Category:</strong> <%= item.category_name %></p>
            <div class="item-info-img">
                <% if (item.photo_url) { %>
                <img src="<%= item.photo_url %>" alt="Item Photo" class="item-photo">
            <% } %>
            </div>
            
        </div>
        <div class="actions">
            <a href="/items/<%= item.id %>/edit" class="btn btn-edit">Edit Item</a>
            <a href="/items/<%= item.id %>/delete" class="btn btn-delete">Delete Item</a>
        </div>
        
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
